body {
    margin: 0;
    padding: 0;
}
#tree{
    position: absolute;
    top: 60px;
    transform: scale(1);
    transform-origin: top left;
    transition: transform 0.2s linear;
    padding-bottom: 60px;
}
#tree div {
    display: inline-block;
}
ul{
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}
.branch {
    display: inline-block;
    position: relative;
    top: 0px;
}
button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
}
.top-all-btns {
    background-color: red;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 3;
}
#main-push {
    margin: 5px;
    padding: 15px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #333;
    box-shadow: 1px 5px 9px #ccc;
    color: #000;
    border-radius: 50px;
    outline: none;
}
#main-push:hover {
    box-shadow: 0px 0px 29px #ccc;
}
.zoom-btns {
    background-color: red;
    position: fixed;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    z-index: 3;
}
#zoom-in, #zoom-out, #zoom-reset {
    margin: 5px;
    padding: 15px 5px;
    border-radius: 10px;
}
#zoom-in {
    background-color: #99FFFF;
}
#zoom-out {
    background-color: 	#76FF7A;
}
#zoom-reset {
    background-color: #FFCC33
}

.box {
    position: relative;
    width: 130px;
    box-sizing: border-box;
    background-color: #000;
    display: inline-block;
    margin: 10px;
    height: 130px;
}
/* Main horizontal line */
.branch::before, .branch::after{
    content: '';
    position: absolute; 
    top: 0; 
    right: 50%;
    border-top: 3px solid #0084FF;
    width: 50%; 
    height: 7px;
}
/* Horizontal line from left part */
.branch::after{
    right: auto; 
    left: 50%;
    border-left: 3px solid #0084FF;
}

/* We need to remove left-right connectors from elements without 
any siblings*/
.branch:only-child::after, .branch:only-child::before {
    display: none;
}

/* Remove space from the top of single children */
.branch:only-child{ 
    padding-top: 0;
}

/* Remove left connector from first child and 
right connector from last child*/
.branch:first-child::before, .branch:last-child::after{
    border: 0 none;
}
/* Adding back the vertical connector to the last nodes*/
.branch:last-child::before{
    border-right: 3px solid #0084FF;
    border-radius: 0 7px 0 0;
}
.branch:first-child::after{
    border-radius: 7px 0 0 0;
}

/* Add downward connectors from parents*/
#tree ul::before{
    content: '';
    position: absolute; 
    top: 140px; left: 50%;
    border-left: 3px solid #0084FF;
    height: 10px;
}
#btn_A_1{
    visibility: hidden;
}
#btn_A_2{
    visibility: hidden;
}
#btn_A_3{
    visibility: hidden;
}
li div.box p {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#tree button{
    position: relative;
    z-index: 4;
    width: 40px;
    display: inline-block;
    height: 40px;
    background-color: #eee;
    border-radius: 50%;
}
#tree button:hover {
    border-radius: 10px;
}
li div.box img {
    position: absolute;
    top: 0px;
    left: 0px;
}
img{
    width:130px;
    height: 130px;
}
.opacity-to-img {
    opacity: 0.5;
    position: relative;
    z-index: 3;
    transition: 0.2s all;
}

/*             */
/* Form */
/*             */

#popup_div {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.6);
    z-index: 9;
    overflow: hidden;
    transition: all 1s;
}
#popup_container {
    position: relative;
    width: 300px;
    height: 300px;
    box-sizing: border-box;
    background-color: #eee;
    z-index: 10;
}
#edit_div {
    padding: 20px;
    margin-top: 10px;
}
input::placeholder {
    color: #000;
}
#popup_container div input {
    margin: 20px 0;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    font-size: 0.9em;
    border: 1px solid #222;
    color: #222;
    background-color: transparent;
    border: 0px;
    border-bottom: 1px solid #222;
}
#popup_container div input:focus{
    outline: none;
    box-shadow: 0px 2px 0px 0px #999;
}
#popup_container div input[type="file"]{
    padding: 5px 0px;
}
#submit_btn {
    width: 92px;
    font-size: 0.9em;
    padding: 5px 36px;
    border: 1px solid #222;
}
#pop-close {
    position: absolute;
    top: 0px;
    right: 5px;
    font-size: 2em;
    text-shadow: 2px 1px #eee;
}
#pop-close:hover, #pop-close:focus{
    outline: none;
    color: #eee;
    text-shadow: 2px 1px #000;
}

/* View */
#edit_btn {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    padding: 5px;
    background-color: #111;
    color: #eee;
    border: 0;
    width: 40px;
    height: 40px;
    border-radius: 30%;
    margin: 3px;
    z-index: 10;
}
#edit_btn:hover{
    letter-spacing: 0.1em;
}

#view_div {
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}
#view_name_div {
    background-color: rgba(200, 200, 200, 0.6);
    padding: 5px;
    box-sizing: border-box;
    font-size: 1.15em;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    text-align: center;
}