body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
#outer-tree {
    position: relative;
    overflow: auto;
}
#tree{
    margin-top: 60px;
    transform-origin: left top;
    transform: scale(1);
    transition: transform 0.2s linear;
}
#tree div {
    display: inline-block;
}
ul{
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}
.branch {
    display: inline-block;
    position: relative;
    top: 0px;
}
button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
}
.nav {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 6;
    background-color: #fff;
    /*box-shadow: 0px 2px 5px #ccc;*/
}
.mn-tp-out, .nf-tp-out {
    float: right;
    display: flex;
    justify-content: center;
    background-color: #fff;
    padding: 6px 21px;
}
.nf-tp-out {
    padding: 17px 21px;
    margin-right: 3px;
}
#menu-btn {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding-top: 5px;
    width: 55px;
    height: 50px;
    z-index: 6;
}
#menu-btn:hover, #menu-btn:active {
    box-shadow: 0 0 5px #ccc;
}
#menu-btn span {
    display: block;
    margin-bottom: 5px;
    width: 25px;
    height: 2px;
    background-color: #000;
    transition: transform linear 0.2s;
}
#menu-contents{
    display: flex;
    background-color: #fff;
    flex-direction: column;
    position: fixed;
    top: 68px;
    right: 0;
    box-shadow: -6px 0px 8px -4px #ddd;
    border: 1px solid #ddd;
    border-left: 0;
    width: 0;
    transition: width 0.3s linear;
    z-index: 6;
}
#notif-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 20px;
    height: 25px;
    border: 1px solid #555;
    font-size: 5px;
    border-radius: 5px;
    user-select: none;
    padding: 3px;
    z-index: 6;
}
#notif-btn:hover {
    box-shadow: 0 0 5px #ccc;
}
.notif-outer {
    position: fixed;
    top: 0;
    right: 0;
    box-sizing: border-box;
    padding-top: 70px;
    height: 100%;
    z-index: 5;
    background-color: #fff;
}
#notif-cont {
    top: -2px;
    position: relative;
    height: 100%;
    overflow: auto;
    overflow-x: hidden;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-left: 0;
    box-shadow: 0px 2px 5px #ccc;
    width: 0;
    transition: width 0.3s linear;
}
.tabs {
    display: flex;
    justify-content: space-around;
    width: 100%;
    position: sticky;
    top: 0;
    background-color: #fff;
}
.tabs button {
    width: 30%;
    color: #555;
    display: inline-block;
    padding: 8px 0;
    font-size: 1em;
}
.tabs button:hover {
    color: #000;
}
.active_tab {
    border-bottom: 1px solid #000;
}
#main-action-cont, #main-notif-cont {
    display: none;
}
#main-action-cont > div,#main-notif-cont > div {
    padding: 5px;
    font-size: 1.05em;
}
#main-action-cont > div.red {
    background-color: #ff000015;
}
#main-action-cont > div.green {
    background-color: #00ff0020; 
}
#main-action-cont > div.yellow {
    background-color: #ffff0030;
}
#main-action-cont div div:last-child, #main-notif-cont div div:last-child {
    color: #777;
}
#main-action-cont div div:last-child button, #main-notif-cont div div:last-child button {
    color: #ff726f;
    padding: 0 10px;
}
#main-notif-cont div div:first-child span:first-child {
    padding-right: 10px;
}
#main-notif-cont div div:first-child span:last-child {
    padding-left: 10px;
}
.copy_key {
    color: #0084FF !important;
}
.main-push {
    margin: 5px 10px;
    padding: 10px 0;
    width: 70px;
    text-align: center;
    background-color: #fff;
    color: #000;
    border-radius: 50px;
    outline: none;
}
.main-push:hover {
    transform: scale(1.1);
}
.main-push:first-child {
    background-color: #76FF7A;
}
.main-push:nth-child(2) {
    background-color: #ff726f;
}
.main-push:nth-child(3){
    background-color: #FFCC33;
    margin-bottom: 10px;
}
#help-btn {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    border-top: 1px solid #eee;
    padding: 10px;
}
#help-btn:hover {
    background-color: #efefef;
}
#help-btn span {
    height: 20px;
    width: 20px;
    font-weight: 1000;
    background-color: #444;
    color: #ccc;
    border-radius: 50%;
    flex-shrink: 0;
    line-height: 20px;
    margin-right: 5px;
}
#n-status {
    display: none;
    color: #fff;
    position: absolute;
    margin-top: -10px;
    margin-left: 12px;
    border-radius: 50%;
    background-color: #ff726f;
    text-align: center;
    line-height: 20px;
    width: 20px;
    height: 20px;
}
.zoom-btns {
    position: fixed;
    right: 5px;
    bottom: 13px;
    z-index: 4;
}
#zoom-in, #zoom-out, #zoom-reset {
    color: #555;
    position: relative;
    display: block;
    margin: 5px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 3px #000;
    font-weight: 1000;
    height: 40px;
    width: 40px;
}
#zoom-in:hover, #zoom-out:hover, #zoom-reset:hover {
    background-color: #efefef;
}
.minus, .minus-ver {
    display: inline-block;
    width: 12px;
    height: 3px;
    background-color: #555;
    position: relative;
    top: -4px;
}
.minus-ver {
    position: absolute;
    top: 19px;
    right: 14px;
    transform: rotate(90deg);
}

.box {
    position: relative;
    width: 130px;
    box-sizing: border-box;
    background-color: #000;
    display: inline-block;
    margin: 10px;
    height: 130px;
}
/* Main horizontal line */
.branch::before, .branch::after{
    content: '';
    position: absolute; 
    top: 0; 
    right: 50%;
    border-top: 3px solid #0084FF;
    width: 50%; 
    height: 7px;
}
/* Horizontal line from left part */
.branch::after{
    right: auto; 
    left: 50%;
    border-left: 3px solid #0084FF;
}

/* We need to remove left-right connectors from elements without 
any siblings*/
.branch:only-child::after, .branch:only-child::before {
    display: none;
}

/* Remove space from the top of single children */
.branch:only-child{ 
    padding-top: 0;
}

/* Remove left connector from first child and 
right connector from last child*/
.branch:first-child::before, .branch:last-child::after{
    border: 0 none;
}
/* Adding back the vertical connector to the last nodes*/
.branch:last-child::before{
    border-right: 3px solid #0084FF;
    border-radius: 0 7px 0 0;
}

.branch:first-child::after{
    border-radius: 7px 0 0 0;
}
/* Add downward connectors from parents*/
#tree ul::before{
    content: '';
    position: absolute; 
    top: 140px; 
    left: 50%;
    border-left: 3px solid #0084FF;
    height: 10px;
}
#btn_A_1, #btn_A_2, #btn_A_3, #btn_A_4{
    visibility: hidden;
}
.box button {
    background-color: #efefef;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    z-index: 4;
    display: inline-block;
    flex-shrink: 0;
}
li div.box p {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
li div.box img {
    position: absolute;
    top: 0px;
    left: 0px;
}
.box_image{
    width:130px;
    height: 130px;
    font-size: 30px;
    color:white;
}
.opacity-to-img {
    opacity: 0.5;
    position: relative;
    z-index: 3;
    transition: 0.2s all;
}

/*             */
/* Form */
/*             */

#popup_div {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.6);
    z-index: 9;
    overflow: hidden;
    transition: all 1s;
}
#popup_container {
    position: relative;
    width: 300px;
    height: 300px;
    box-sizing: border-box;
    background-color: #eee;
    z-index: 10;
    overflow: auto;
}
#popup_container.help_in_content {
    width: 98%;
    height: 95%;
}
#edit_div {
    padding: 20px;
    margin-top: 10px;
}
input::placeholder {
    color: #000;
}
#popup_container div input {
    margin: 20px 0;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    font-size: 0.9em;
    border: 1px solid #222;
    color: #222;
    background-color: transparent;
    border: 0px;
    border-bottom: 1px solid #222;
}
#popup_container div input:focus{
    outline: none;
    box-shadow: 0px 2px 0px 0px #999;
}
#popup_container div input[type="file"]{
    padding: 5px 0px;
}
#submit_btn {
    width: 92px;
    font-size: 0.9em;
    padding: 5px 36px;
    border: 1px solid #222;
}
.pop-close-outer {
    position: absolute;
    top: 0px;
    right: 33px;
}
#pop-close {
    position: fixed;
    font-size: 2em;
    text-shadow: 2px 1px #eee;
}
#pop-close:hover, #pop-close:focus{
    outline: none;
    color: #eee;
    text-shadow: 2px 1px #000;
}

/* View */
#edit_btn {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    padding: 5px;
    background-color: #111;
    color: #eee;
    border: 0;
    width: 40px;
    height: 40px;
    border-radius: 30%;
    margin: 3px;
    z-index: 10;
}
#edit_btn:hover{
    letter-spacing: 0.1em;
}
#view_div {
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}
#view_name_div {
    background-color: rgba(200, 200, 200, 0.6);
    padding: 5px;
    box-sizing: border-box;
    font-size: 1.15em;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    text-align: center;
}

/* Save contents*/
#confirm_container {
    padding: 20px;
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.conf_mssg_container {
    font-size: 1.3em;
    margin-bottom: 30px;
}
.yes_btn, .no_btn {
    width: 60px;
    height: 40px;
    background-color: #76FF7A;
    margin-bottom: 20px;
}
.yes_btn:hover, .no_btn:hover {
    border: 1px solid #000;
}
.no_btn {
    background-color: #ff726f;
}
#confirm_share_btn {
    border: 1px solid #000;
    padding: 10px;
}
#confirm_share_btn:hover {
    padding: 10px 15px;
}

/* Loader */
.top-load {
    width: 200px;
    height: 200px;
    display: flex;
    overflow: hidden;
    background: transparent;
}
.load div {
    position: absolute;
    animation: load 1s linear infinite;
    width: 80px;
    height: 80px;
    top: 60px;
    left: 60px;
    border-radius: 50%;
    box-shadow: 0 5px 0 0 #000000;
    transform-origin: 40px 42.5px;
}
.load {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
}
.load div { 
    box-sizing: content-box; 
}
@keyframes load {
    0% { transform: rotate(0deg) }
    50% { transform: rotate(180deg) }
    100% { transform: rotate(360deg) }
}


/**Help*/
.help-content {
    font-family: sans-serif;
    padding: 10px;
    box-sizing: border-box;
    font-family: sans-serif;
    width: 100%;
    height: 100%;
}
.help-content h3 {
    text-align: center;
}
.help-content .bck-grey {
    background-color: #ccc;
    box-sizing: border-box;
    padding: 0 5px;
}
.help-content button {
    border: 1px solid #555;
    box-sizing: border-box;
    padding: 0 5px;
}
.help-content .tab {
    border-bottom: 1px solid #555;
    padding: 0 5px;
}