*{
    margin: 0;
    padding: 0;
}
body {
    background-color: #eee;
}
.text-center {
    text-align: center;
}
#tree {
    margin-top: 40px;
    display: inline-flex;
    flex-direction: column;
    min-width: 100%;
}
.branch {
    position: relative;
    display: flex;
    justify-content: space-around;
    position: relative;
}
.box {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: aquamarine;
    margin: 20px;
    flex-shrink:0;
}
.btn_1{
    position: relative;
}
.btn_2{
    position: relative;
}
.btn_3{
    position: relative;
}