*{
    margin: 0;
    padding: 0;
}
body {
    background-color: #eee;
}
.text-center {
    text-align: center;
}
#tree {
    margin-top: 40px;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    overflow-x:auto;
}
#branch, .branch {
    display: flex;
    justify-content: space-around;
}
.box {
    display: inline-block;
    width: 70px;
    height: 70px;
    background-color: aquamarine;
    margin: 5px;
    flex-shrink:0;
}